<br />
<br />
<br />

    <h3 style="text-align: center;color:white">{{title}}</h3>
{{#if message}}
<div class="alert alert-info">

    <p>{{this.message}}</p>

</div>
{{/if}}

<div>
    {{#each history  }}

    <li>
        <h4><i class="fa fa-database" style="color: white">
                You {{ this.Ttype }} product of Id <a style="color:yellow" href="{{concate "/queryMedicineById/" this.PId }}">{{this.PId}}</a> {{this.To_From}} <a style="color:yellow" href="{{concate "/viewUser/" this.DealWith }}">{{this.DealWith}}</a></i></h4>
    </li>
   
    <h6 style="color:wheat">{{this.DateTime}}</h6>
    {{/each}}
</div>
<a href="/" class="btn btn-success pull-right" role="button">Back to Home</a>