<br />
<br />


<center>
    <!--<h3>{{title}}</h3>-->
     <button type="button" class="btn btn-danger btn-lg" disabled>{{title}}</button>
</center>
<br/>
{{#if message}}
<div class="alert alert-warning">

    <p>{{message}}</p>

</div>
{{/if}}

<div>
     <a href="/leave_complain" class="btn btn-warning" role="button">
                        <i class="fa fa-pencil-square-o">Leave complain</i>
                </a>
    {{#each complain  }}

    <li>
        <h4><i class="fa fa-database" style="color:thistle">
                Message from <a style="color:yellow" href="{{concate "/viewUser/" this.ComplaineeId }}">{{this.ComplaineeId}}</a>({{this.ComplaineeName}})</i></h4>
                <span>{{this.Time}}</span>
                 
                <br />
                <br />
        <a href="{{concate "/complain_details/" this.Id }}" class="btn btn-info" role="button">
                        View
                </a>
                <a href="{{concate "/delete_complain/" this.Id }}" class="btn btn-secondary" role="button">
                        Delete
                </a>
        

    </li>
    {{/each}}
    <br />
    <br />
</div>
<a href="/" class="btn btn-success pull-right" role="button">Back to Home</a>