<br />
<br />
<br/>

<center>
    <!--<h3>{{title}}</h3>-->
    <h3>Complains</h3>
</center>
{{#if message}}
<!--<div class="alert alert-info">

    <p>{{message}}</p>

</div>-->
{{/if}}

<div>
     <a href="/leave_complain" class="btn btn-warning" role="button">
                        <i class="fa fa-pencil-square-o">Leave complain</i>
                </a>
    {{#each complain  }}

    <li>
        <h4><i class="fa fa-database">
                complain from {{ this.ComplaineeName }}({{this.ComplaineeId}})</i></h4>
                <span>{{this.Time}}</span>
                <br />
                <br />
        <a href="{{concate "/complain_details/" this.Id }}" class="btn btn-info" role="button">
                        View
                </a>
                <a href="{{concate "/delete_complain/" this.Id }}" class="btn btn-secondary" role="button">
                        Delete
                </a>
        

    </li>
    {{/each}}
    <br />
    <br />
</div>
<a href="/" class="btn btn-success pull-right" role="button">Back to Home</a>