<br />
<center>
        <h2>Profile</h2>
</center>


<div class="container">
        <p1 class="position-relative">
                <div class="caption">
                        <h3>{{ Name }}</h3><br />
                </div>
                <h5> <i class="fa fa-envelope-o" style="color:black"> {{ Email }}</i></h5><br/>
                <h5> <i class="fa fa-info-circle" style="color:black"> {{ ID }}</i></h5><br/>
                <h5> <i class="fa fa-phone" style="color:black"> {{ Phone }}</i></h5><br/>
                <h5> <i class="fa fa-user" style="color:black"> {{ UserType }}</i></h5><br/>

                <a href="{{concate "/view_transaction/" ID }}" class="btn btn-info" role="button">
                        View All Transactions
                </a>
        </p1>

        <pp class="position-relative">
                <img src="{{concate "/"  Image }}" class="img-fluid" width="150" height="200" alt="Responsive image">
        </pp>
</div>

<li>
        <a class="navbar-brand" style="color:white" href="/insertMedicine"> <i class="fa fa-medkit"
                        style="color:white">Insert</i></a>
</li>